{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur Tricks</h1>
    <a href="{{ path('app_trick_index') }}">Voir les figures</a>

    <a href="{{ path('app_trick_new') }}">Créer un Trick</a>

{% endblock %}
