{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur Tricks</h1>
    <a href="{{ path('app_trick_index') }}" class="btn btn-primary btn-new mt-3">Voir les figures</a>

    <a href="{{ path('app_trick_new') }}" class="btn btn-primary btn-new mt-3">Créer un Trick</a>

{% endblock %}
